:root {
  --branding-color: #f2912b;
  --heading-font-family: "Fira Sans", sans-serif;
}

body {
  text-align: right;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #f0ddc6 50%, var(--branding-color) 50%);
  font-family: var(--heading-font-family);
}

h1,
h2,
p,
.hero p,
footer {
  color: #F55301;

}

h1 {
  font-size: 76px;
  font-weight: bolder;
  line-height: 1.5;
}

h2 {
  font-size: 60px;
}

p,
.hero p {
  font-size: 16px;
  line-height: 30px;
}

.hero p {
  font-size: 32px;
  font-weight: 400;
}

.opening-paragraph {
  background-color: #F470B2;
  padding: 20px;
}

.btn-branding,
.btn-branding-outline {
  text-align: center;
  background: #F571B6;
  border-radius: 36px;
  border: 2px solid #F55301;
  color: #F55301;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 0 30px;
}

.about-section {
  color: white;
}

footer {
  background-color: #F470B2;
  text-align: center;
  padding: 120px 60px;
}

@media (max-width: 900px) {
  .aboutPage body {
    text-align: center;
    padding: 80px 20px;

  }

  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .weather-app-image img {
    display: none;
  }
}