:root {
  --branding-color: #f2912b;
  --secondary-color: #f0ddc6;
  --tertiary-color: #F470B2;
  --highlighting-color: #F55301;
  --heading-font-family: "Fira Sans", sans-serif;
}

body.homePage {
  width: 100%;
  background: #f0ddc6;
  font-family: var(--heading-font-family);
}

h1,
h2,
p,
.hero p,
footer {
  color: var(--highlighting-color);
}

h1 {
  font-size: 75px;
  font-weight: bolder;
  line-height: 1.5;
}

h3 {
  font-size: 60px;
  line-height: 1.5;
  color: var(--tertiary-color)
}


h2 {
  font-size: 60px;
  line-height: 1;
}

p.homePage {
  font-size: 16px;
  line-height: 30px;
}

.opening-paragraph {
  font-size: 16px;
  background-color: var(--tertiary-color);
  padding: 20px;

}

.btn-branding,
.btn-branding-outline {
  text-align: center;
  background: var(--tertiary-color);
  border-radius: 36px;
  border: 2px solid var(--highlighting-color);
  color: var(--highlighting-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

footer.homePage {
  background-color: #F470B2;
  max-width: 100%;
  padding: 30px 120px;
  margin: 60px 0;
}

.promotions h3 {
  color: var(--secondary-color);

}

.social-links a {
  font-size: 30px;
  justify-content: space-evenly;
  color: var(--secondary-color);
  margin-bottom: 0;
}

.promotions {
  color: var(--secondary-color);
}

p.outro a {
  color: var(--secondary-color);
}

footer.homePage p.slogan {
  font-size: 16px;
}

.subscribe-button {
  margin-right: 100px;
}










.project-description {
  padding: 0 30px;
}

.content-container {
  padding: 160px 20px;
}

.content h1 {
  color: var(--highlighting-color);
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--heading-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
  margin: 20px 0 0;
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.content-container h3 {
  color: #F2912B;
}

.content-container a {
  color: #F470B2;
}

.logo {
  max-height: 150px;
}

nav {
  padding: 20px 0;

}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #F470B2;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}


footer .email-link {
  text-decoration: none;
  color: #F55301;
  font-size: 24px;
  text-align: center;
}

footer .email-link a:hover {
  color: (var(--secondary-color));
}

footer .social-links a:hover {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

body.contactPage,
html.contactPage {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body.contactPage .content-container {
  flex: 1;
}

body.contactPage footer {
  background-color: var(--secondary-color);
  padding: 5px 0;
  text-align: center;
  bottom: 0;
  width: 100%;

}

body.contactPage a {
  color: #F470b2;
}

body.contactPage h3 {
  color: var(--branding-color);
}


footer.contactPage p.slogan-text {
  font-size: 10px;
  line-height: 1.5;
}



@media (max-width: 900px) {
  .aboutPage body {
    text-align: center;
    padding: 80px 20px;
  }

  h1 {
    font-size: 40px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 26px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  nav a {
    font-size: 14px;
  }

  .weather-app-image img {
    display: none;
  }

  .content {
    text-align: center;
    padding: 0;
  }
}